<a href="https://colab.research.google.com/github/dasomnoh/python-/blob/main/%ED%95%A8%EC%88%98%EA%B3%A0%EA%B8%89%ED%8E%B8_%EB%85%B8%EB%8B%A4%EC%86%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = []
for i in [1,2,3]:
    a.append(i+1)
print(a)

[2, 3, 4]

In [2]:
b = [i+1 for i in [1,2,3]]
print(b)

[2, 3, 4]

In [4]:
def calcul(i):
    c = i**2+3
    return c

In [5]:
d = [calcul(i) for i in [1,2,3]]
print(d)

[4, 7, 12]

In [6]:
e = [i+1 for i in [1,2,3] if i%2==0]
print(e)

[3]

In [7]:
f = []
for i in [1,2,3]:
    if i%2 == 0:
        f.append(i+1)
print(f)

[3]

In [8]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)
number_list

[1, 2, 3, 4, 5]

In [9]:
number_list=[]
for number in range(1,6):
    number_list.append(number)
number_list

[1, 2, 3, 4, 5]

In [10]:
number_list = list(range(1,6))
number_list

[1, 2, 3, 4, 5]

In [11]:
number_list = [number for number in range(1,6)]
number_list

[1, 2, 3, 4, 5]

In [12]:
number_list = [number-1 for number in range(1,6)]
number_list

[0, 1, 2, 3, 4]

In [13]:
a_list = [number for number in range(1,6) if number % 2 ==1]
a_list

[1, 3, 5]

In [14]:
a_list = []
for number in range(1,6):
    if number % 2 == 1:
        a_list.append(number)
a_list

[1, 3, 5]

In [18]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

In [19]:
[word.lower() for word in sentence]

['i', 'love', 'python', 'soooooo', 'much!!!']

In [20]:
[word.upper() for word in sentence if len(word) > 6]

['SOOOOOO', 'MUCH!!!']

In [21]:
[(x,x**2,x**3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [24]:
rows = range(1,4)
cols = range(1,3)
cells = [(row,col) for row in rows for col in cols]
for cell in cells:
    print(cell)
print('------')
print(cells)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)
------
[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2)]

In [25]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [37]:
word = 'letters'
for letter in word:
  print(letter)

l
e
t
t
e
r
s

In [38]:
word.count('tt')

1

In [39]:
word.count('e')

2

In [40]:
word = 'letters'
letter_counts = {letter:word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [41]:
set(word)

{'e', 'l', 'r', 's', 't'}

In [42]:
a_set = {number for number in range(1,6) if number % 3 ==1}
a_set

{1, 4}

In [43]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banna', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

list(zip(days, fruits, drinks, desserts))

[('Monday', 'banna', 'coffee', 'tiramisu'),
 ('Tuesday', 'orange', 'tea', 'ice cream'),
 ('Wednesday', 'peach', 'beer', 'pie')]

In [44]:
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ":drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday :drink coffee - eat banna - enjoy tiramisu
Tuesday :drink tea - eat orange - enjoy ice cream
Wednesday :drink beer - eat peach - enjoy pie

In [45]:
english = 'Monday', 'Tuesday', 'Wednesday'

french = 'Lundi', 'Mardi', 'Mercredi'

list(zip(english, french))
#[('Monday','Lundi'),('Tuesday','Mardi'),('Wednesday','Mercredi')]
dict(zip(english,french))
#{'Monday':'Lundi','Tuesday':'Mardi','Wednesday':'Mercredi'}

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [46]:
def menu(price, wine='chardonnay', entree='chicken', dessert = 'pudding'):
    return{'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}


print(menu(100))
print(menu(price=100))
print(menu(price=120, entree='beef'))
print(menu(dessert='bager', price=110))
print(menu('eighty', 'saint-pierre', 'fish'))
print(menu('hundred', wine= 'saint-pierre'))

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}
{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}
{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bager'}
{'price': 'eighty', 'wine': 'saint-pierre', 'entree': 'fish', 'dessert': 'pudding'}
{'price': 'hundred', 'wine': 'saint-pierre', 'entree': 'chicken', 'dessert': 'pudding'}

In [47]:
def echo(anything):
    'echo returns its input argumnet'
    return anything

def print_if_true(thing, check):
    """Print the first argumnet if a second argumnet is true.
    The operation is:
     1. Check whether the *second* argument is true.
     2. If it is, print the *first* argument.
    """
    if check:
        print(thing)

In [48]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argumnet

In [49]:
help(print_if_true)

Help on function print_if_true in module __main__:

print_if_true(thing, check)
    Print the first argumnet if a second argumnet is true.
    The operation is:
     1. Check whether the *second* argument is true.
     2. If it is, print the *first* argument.

In [51]:
print_if_true('haha', False)

In [50]:
print_if_true('haha', True)

haha

In [52]:
print_if_true('haha', 1==1)

haha

In [53]:
print_if_true('haha', 1==2)